@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

* {
  box-sizing: border-box;
}
body {
  background: url("./assets/bacteria3.svg");
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}

body, html, .App, #root, .auth-wrapper {
  width: 100%;
  height: 100%;
}

.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  padding-top:8.5%;
}

.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
  border-style: solid;
  border-width: 1px;
  border-color: #538c09;

}

.auth-wrapper .form-control:focus {
  border-color: #538c09;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}
.custom-control-input:checked~.custom-control-label::before {
  background-color: #82aa4e !important ;
  border-color: #538c09 !important;
}
.btn-principal {
  background-color: #82aa4e !important;
  border-color: #538c09 !important;
}
.btn-principal:hover, .btn-principal:focus {
  border-color: #538c09 !important ;
  box-shadow: none;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
  cursor: pointer;

}

.forgot-password a {
  color: #538c09;
}
.forgot-password a:hover {
  color: #82aa4e;
}

.container img{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card {
  border-radius: 15px !important;
  border-color: #538c09 !important;
  margin-bottom: 5%;

}
.bubble-left{
  background-color: #82aa4e !important ;
  border-color: #538c09 !important;
  color: white !important;
  padding: 4px !important;
  text-align: start !important;
}
.bubble-left p{
  padding: 0;
  margin: 0;
}
.bubble-left hr{
  padding: 2px;
  margin: 0;
}
.bubble{
  background-color: #82aa4e !important ;
  border-color: #538c09 !important;
  color: white !important;
  padding: 4px !important;
}
.bubble p{
  padding: 0;
  margin: 0;
}
.bubble hr{
  padding: 2px;
  margin: 0;
}
.bubble-right{
  background-color: #82aa4e !important ;
  border-color: #538c09 !important;
  color: white !important;
  padding: 4px !important;
  text-align: start !important;

}
.bubble-right p{
  padding: 0;
  margin: 0;
}
.bubble-right hr{
  padding: 2px;
  margin: 0;
}


.card-body {
  width: 100%;
  min-width: 500px;
}
.MuiContainer-root {
  padding-left: 5%;
  padding-right: 5%;
}

.icon {
  float: right;
  color: #538c09 !important;
}

.post {
  display: table;
  margin-right: auto;
  margin-left: auto;
}

.MuiFab-root {
  color: #538c09 !important;

}

.fileContainer {
  overflow: hidden;
  position: relative;
}

.fileContainer [type=file] {
  cursor: inherit;
  display: block;
  filter: alpha(opacity=0);
  opacity: 0;
  position: absolute;
  float: left;

}

.expanded {

  margin-top: 20%;

}

.icon-image{
  transform: scale(1.8);
}

.card .form-control:focus {
  border-color: #538c09;
  box-shadow: none;
}


.post-list {
  margin-top: 8.5%;
  width:100%;
  margin-left: 0px;
  margin-right: 0px;
  display: flex;
  flex-wrap: wrap;
}


 .comment {
   margin-top: 1%;
   margin-bottom: 1%;
 }

 .profile-media {
   padding-top: 56.25%;
   height: 0;

 }

 .profile-root  {
   background-color:#ffffff;
   border-radius: 15px;
   border-width:1px;
   border-style:solid;
   border-color: #538c09;
 }

 .comment-content {
   margin-left: 10%;
 }

 .twitter:hover{
    color: dodgerblue;
}
.insta:hover{
    color: orangered;
}
.youtube:hover{
    color:red;
}

